#dogno1
{
    border: 5px, solid black;
    padding: 5px;
    margin-left: 10px;
}
#p1
{
    border: 2px solid;
    width: fit-content;
    padding: 5px;
    margin-left: 75px;
    margin-top: 10px;
}
#dogno2
{
    border: 5px, solid black;
    padding: 5px;
    margin-right: 10px;
    float: right;
}
#p2
{
    border: 2px solid;
    width: fit-content;
    padding: 5px;
    margin-left: 1335px;
    margin-top: 300px;
}
#dogno3
{
    border: 5px, solid black;
    padding: 5px;
    margin-left: 10px;
}
#p3
{
    border: 2px solid;
    width: fit-content;
    padding: 5px;
    margin-left: 115px;
    margin-top: 10px;
}
#div1
{
    border: 5px, solid;
    width: fit-content;
    padding: 10px;
    margin-left: 10px;
}
#ul1
{
    border: 5px solid;
    border-radius: 20px;
    padding: 20px;
}
#img1
{
    float: right;
    border: 3px solid;
    border-radius: 20px;
}
#img4
{
    margin-left: 20px;
    border: 5px solid;
}
#div2
{
    border: 5px solid;
    width: fit-content;
    padding: 5px;
    margin-left: 20px;
}
#div3
{   
    float: right;
    border: 5px solid;
    width: fit-content;
    padding: 5px;
    margin-left: 20px;
}
#div4
{
    border: 5px solid;
    width: fit-content;
    padding: 5px;
    margin-left: 20px;
}
#p3
{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.carousel img
{
    width:100%;
    height:300px;
    object-fit: cover;
}
#intro
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}
p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-align: justify;
}
footer
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    text-align: justify;
}
#img6
{
    float: right;
    padding: 5px;
    border: 3px solid;
    margin-left: 10px;
}
#img7
{
    float: left;
    padding: 5px;
    border: 3px solid;
}
#img8
{
    float: left;
    padding: 5px;
    border: 3px solid;
}
#img9
{
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid;
}
#p6
{
    text-align: center;
}
#img10
{
    float: right;
    margin-left: 10px;
    padding: 5px;
    border: 3px solid;
}
#heading
{
    text-align: center;
}
#SfX
{
    background-color: blue;
    padding: 5px;
    border: 3px solid;
}
.fa
{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover
{
    opacity: 0.7;
}
footer
{
    text-align: center;
}
#img9
{
    display: block;
    margin: auto;
}
#divid
{
    border: 5px solid;
}
body
{
    background-color: lightskyblue;
}